{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/css/administration/base.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div id="content">
    <div id="sidebar" class="tm-sidebar-left uk-background-default">
        <center>
            <div class="user">
                <img id="avatar" width="100" class="uk-border-circle" src="https://image.flaticon.com/icons/svg/167/167750.svg" />
                <div class="uk-margin-top"></div>
                <h3 class="uk-text-truncate">{{ session['first_name'] }} {{ session[last_name] }}</h3>
                <div id="email" class="uk-text-truncate">{{ session['email'] }}</div>
                <span id="status" class="uk-margin-top uk-label uk-label-success">ADMIN</span>
            </div>
            <br/>
        </center>
        <ul class="uk-nav uk-nav-default">    
            <li class="uk-nav-header">General</li>
            <li><a href="/administration/{{current_admin.id}}/overview">Overview</a></li>
            <li><a href="/administration/{{current_admin.id}}/members">Members</a></li>
        </ul>
    </div>
    <div class="content-padder content-background">
        <div class="uk-section-small uk-section-default header">
            <div class="uk-container uk-container-large">
                <h1>{{ current_admin.name }}</h1>
                <ul class="uk-breadcrumb">
                    <li><a href="/administration/{{ current_admin.id }}/overview">{{current_admin.shortname}}</a></li>
                    {% block breadcrumb_list %}{% endblock %}
                </ul>
            </div>
        </div>
        {% block right_content %}{% endblock %}
    </div>
</div>
{% endblock %}