{% extends '/administration/base.html' %}

{% block head %}
<link rel="stylesheet" href="/css/administration/view.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
{% endblock %}
{% block right_content %}
<div id="content">
    <div class="content-padder content-background">
        <div class="uk-section-small uk-section-default header">
            <div class="uk-container uk-container-large">
                <h1>{{ current_entity.name }}</h1>
                <p>{{ current_entity.shortname }}</p>
                <ul class="uk-breadcrumb">
                    <li><a href="/administration/overview{{overview_id}}">Overview</a></li>
                    <li><span href="/administration/view/{{view_id}}">{{ current_entity.shortname }}</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-section-small">
            <div class="uk-container uk-container-large">
                <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl">
                    <div>
                      <div class="uk-card uk-card-default uk-card-body">
                          <span class="statistics-text">Total Cases</span><br />
                          <span class="statistics-number">{{ current_entity.cases.active + current_entity.cases.recovered + current_entity.cases.fatal }}</span>
                      </div>
                    </div>  
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <span class="statistics-text">Active Cases</span><br />
                            <span class="statistics-number">
                                {{ current_entity.cases.active }}
                                <span class="uk-label uk-label-warning">+{{ current_entity.cases.active_increment }}</span>
                            </span>
                        </div>
                    </div>
                    <div>
                      <div class="uk-card uk-card-default uk-card-body">
                          <span class="statistics-text">Recovered</span><br />
                          <span class="statistics-number">
                            {{ current_entity.cases.recovered }}
                            <span class="uk-label uk-label-success">+{{ current_entity.cases.recovered_increment }}</span>
                          </span>
                      </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <span class="statistics-text">Fatal</span><br/>
                            <span class="statistics-number">
                              {{ current_entity.cases.fatal }}
                              <span class="uk-label uk-label-danger">+{{ current_entity.cases.fatal_increment }}</span>
                            </span>
                        </div>
                    </div>
                </div>
              <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@l">
                <div>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                      Active
                    </div>
                    <div class="uk-card-body">
                      <canvas id="active_chart"></canvas>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                      Recovered
                    </div>
                    <div class="uk-card-body">
                      <canvas id="recovered_chart"></canvas>
                    </div>
                  </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-header">
                        Fatal
                      </div>
                      <div class="uk-card-body">
                        <canvas id="death_chart"></canvas>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script> 
 
  function resize(){
    var sidebar = $('#sidebar');
    var padder = $('.content-padder');
    padder.removeAttr( 'style' );
    if( $( window ).width() < 960 && sidebar.css('display') == 'block' ) {
      sidebarToggle(false);
    } else if($( window ).width() > 960 && sidebar.css('display') == 'none'){
      sidebarToggle(true);
    }
  }

  if($( window ).width() < 960) {
    sidebarToggle(false);
  }

  $( window ).resize(function() {
    resize()
  });

  $('.content-padder').click(function() {
    if( $( window ).width() < 960 ) {
      sidebarToggle(false);
    }
  });

  var active_data ={
    labels: Array.apply(null, {length: {{ current_entity.history.active|length }}}).map(function(value, index){ return index + 1; }),
    datasets: [{
      label: 'active',
      data: {{ current_entity.history.active }},
      backgroundColor: "#fcce03",
      borderColor: "#fca903"
    }]
  };

  var recovered_data ={
    labels: Array.apply(null, {length: {{ current_entity.history.recovered|length }}}).map(function(value, index){ return index + 1; }),
    datasets: [{
      label: 'recovered',
      data: {{ current_entity.history.recovered }},
      backgroundColor: "#00cc44",
      borderColor: "#009933"
    }]
  };

  var fatal_data ={
    labels: Array.apply(null, {length: {{ current_entity.history.fatal|length }}}).map(function(value, index){ return index + 1; }),
    datasets: [{
      label: 'fatal',
      data: {{ current_entity.history.fatal }},
      backgroundColor: "#ff4d4d",
      borderColor: "#cc0000"
    }]
  };

  var options = {
    scales: {
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'days'
        },
        ticks: {
          autoSkip: true,
          beginAtZero:true,
        }
      }],
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'cases'
        },
        ticks: {
          autoSkip: true,
          beginAtZero:true
        }
      }]
    }
  }

  var ctx = document.getElementById("active_chart").getContext('2d');
  var active_chart = new Chart(ctx, {
    type: 'line',
    data: active_data,
    options: options
  });
  
  var ctx = document.getElementById("recovered_chart").getContext('2d');
  var recovered_chart = new Chart(ctx, {
    type: 'line',
    data: recovered_data,
    options: options
  });

  var ctx = document.getElementById("death_chart").getContext('2d');
  var death_chart = new Chart(ctx, {
    type: 'line',
    data: fatal_data,
    options: options
  });
</script>
{% endblock %}