{% extends '/institution/base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/institution/base.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
{% endblock %}

{% block breadcrumb_list %}
<li><span href=#>Records</span></li>
<li><span href=#>Patients</span></li>
{% endblock %}

{% block right_content %}
<div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <h3>Manage Patient Records</h3>
      <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@l">
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-body">
              <div class="uk-margin uk-background-default">
                <ul class="uk-tab" data-uk-tab="{connect:'#data-tables'}">
                  <li {% if fetched is none %} class="uk-active" {% endif %}><a href="">Add Patient</a></li>
                  <li {% if fetched is not none %} class="uk-active" {% endif %}><a href="">Edit Patient</a></li>
                  <li><a href="">Delete Patient</a></li>
                </ul>
                <ul id="data-tables" class="uk-switcher uk-margin">
                  <li>
                    {% if add_success is defined and add_success is not none %}
                      <div class="uk-alert-success" uk-alert>
                          <a class="uk-alert-close" uk-close></a>
                          <p>{{add_success}}</p>
                      </div>
                    {% endif %}
                    {% if add_error is defined and add_error is not none %}
                      <div class="uk-alert-danger" uk-alert>
                          <a class="uk-alert-close" uk-close></a>
                          <p>{{add_error}}</p>
                      </div>
                    {% endif %}
                    <form action="/institution/{{current_institution.id}}/records/patients?add=1" method="post">
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                          <input class="uk-input uk-form-large" type="text" placeholder="name" name="name">
                        </div>
                      </div>
                      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <span><input class="uk-radio" type="radio" name="male">
                          <span class="uk-margin-left-small">Male</span>
                        </span>
                        <span><input class="uk-radio" type="radio" name="female">
                          <span class="uk-margin-left-small">Female</span>
                        </span>
                      </div>
                      <div class="uk-margin">
                        <select class="uk-select" name="state">
                          <option name="suspected">suspected</option>
                          <option name="negative">negative</option>
                          <option name="active">active</option>
                          <option name="recovered">recovered</option>
                          <option name="dead">dead</option>
                        </select>
                      </div>
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: tag"></span>
                          <input class="uk-input uk-form-large" type="text" placeholder="internal reference string (example: HOSP#14232453)" name="ref_str">
                        </div>
                      </div>
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: tag"></span>
                          <input class="uk-input uk-form-large" type="date" name="date">
                        </div>
                      </div>
                      <div class="uk-margin">
                        <label for="">History/Notes:</label>
                        <textarea class="uk-textarea" rows="5" placeholder="" name="notes"></textarea>
                      </div>
                      <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Add</button>
                      </div>
                    </form>
                  </li>
                  <li>
                    {% if edit_error is defined %}
                      <div class="uk-alert-danger" uk-alert>
                          <a class="uk-alert-close" uk-close></a>
                          <p>{{edit_error}}</p>
                      </div>
                    {% endif %}
                    <form action="/institution/{{current_institution.id}}/records/patients?fetch=1" method="post">
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                          {% if fetched is not none %}
                          <input class="uk-input uk-form-large" type="number" placeholder="{{fetched.recordid}}" name="recordid">
                          {% else %}
                          <input class="uk-input uk-form-large" type="number" placeholder="record id" name="recordid">
                          {% endif %}
                        </div>
                        <button class="uk-button uk-button-default uk-margin-top" type="submit">FETCH</button>
                      </div>
                    </form>
                    <form action="/institution/{{current_institution.id}}/records/patients?edit=1&recordid={{fetched.recordid}}" method="post">
                      <hr>
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                          {% if fetched is not none %}
                          <input class="uk-input uk-form-large" type="text" placeholder="{{fetched.name}}" name="name">
                          {% else %}
                          <input class="uk-input uk-form-large" type="text" placeholder="name" name="name">
                          {% endif %}
                        </div>
                      </div>
                      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <span><input class="uk-radio" type="radio" {% if fetched is not none and fetched.sex == "male" %} checked="checked" {% endif %} name="male">Male</span>
                        <span><input class="uk-radio" type="radio" {% if fetched is not none and fetched.sex == "female" %} checked="checked" {% endif %} name="female">Female</span>
                      </div>
                      <div class="uk-margin">
                        <select class="uk-select" name="state">
                          <option {% if fetched is not none and fetched.state == "suspected" %}selected="selected"{% endif %} name="suspected">suspected</option>
                          <option {% if fetched is not none and fetched.state == "negative" %}selected="selected"{% endif %} name="negative">negative</option>
                          <option {% if fetched is not none and fetched.state == "active" %}selected="selected"{% endif %} name="active">active</option>
                          <option {% if fetched is not none and fetched.state == "recovered" %}selected="selected"{% endif %} name="recovered">recovered</option>
                          <option {% if fetched is not none and fetched.state == "dead" %}selected="selected"{% endif %} name="dead">dead</option>
                        </select>
                      </div>
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: tag"></span>
                          {% if fetched is not none %}
                          <input class="uk-input uk-form-large" type="text" placeholder="{{fetched.ref_str}}" name="ref_str">
                          {% else %}
                          <input class="uk-input uk-form-large" type="text" placeholder="internal reference string (example: HOSP#14232453)" name="ref_str">
                          {% endif %}
                        </div>
                      </div>
                      <div class="uk-margin">
                        <label for="">History/Notes:</label>
                        {% if fetched is not none %}
                        <textarea class="uk-textarea" rows="5" placeholder="{{fetched.history}}"></textarea>
                        {% else %}
                        <textarea class="uk-textarea" rows="5" placeholder=""></textarea>
                        {% endif %}
                      </div>
                      <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Update</button>
                      </div>
                    </form>
                  </li>
                  <li>
                    {% if delete_error is defined %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{delete_error}}</p>
                    </div>
                    {% endif %}
                    <form method="post">
                      <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                          <input class="uk-input uk-form-large" type="text" placeholder="record id" name="recordid">
                        </div>
                      </div>
                      <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-primary uk-label-danger uk-button-large uk-width-1-1">Delete</button>
                      </div>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-header uk-text-large">
              Find patients
            </div>
            <div class="uk-card-body">
              <form method="post">
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-large" type="text" placeholder="find by name" name="name">
                  </div>
                </div>
                <div class="uk-text-center">OR</div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: tag"></span>
                    <input class="uk-input uk-form-large" type="text" placeholder="find by internal reference string" name="ref_str">
                  </div>
                </div>
                <div class="uk-margin">
                  <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Find</button>
                </div>
              </form>
              <hr>
              <h3>Results</h3>
              <table class="uk-table uk-table-hover uk-table-middle uk-table-divider sortable">
                <thead>
                  <tr>
                      <th>RecordID</th>
                      <th>Name</th>
                      <th>Internal Ref</th>
                  </tr>
                </thead>
                <tbody>
                {% for result in find_results %}
                  <tr>
                    <td>{{ result.recordid }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.ref }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% if find_results|length == 0 %}
                  No Results.
              {% endif %}
            </div>
          </div>
        </div>  
      </div>
    </div>
</div>
<script> 
  function resize(){
    var sidebar = $('#sidebar');
    var padder = $('.content-padder');
    padder.removeAttr( 'style' );
    if( $( window ).width() < 960 && sidebar.css('display') == 'block' ) {
      sidebarToggle(false);
    } else if($( window ).width() > 960 && sidebar.css('display') == 'none'){
      sidebarToggle(true);
    }
  }

  if($( window ).width() < 960) {
    sidebarToggle(false);
  }

  $( window ).resize(function() {
    resize()
  });

  $('.content-padder').click(function() {
    if( $( window ).width() < 960 ) {
      sidebarToggle(false);
    }
  });

</script>
{% endblock %}