{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div id="content">
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <h1>Rapid Pandemic Medical Response Management</h1>
            <div class="uk-grid-match uk-child-width-1-2@m uk-text-justify" uk-grid>
                <div>
                    <p class="uk-text-large uk-margin-remove">Don't be a New York!</p>
                    <p>The idea is to make an app to help local officials effectively manage the medical resources in their area. This helps with keeping hospitals/camps stay in sync with the local officials. This lack of synchronization can be a serious problem. This application will increase bureaucratic efficiency and provide a centralized interface to the officials for a more effective response in both gathering information and taking action.</p>
                </div>
                <div>
                    <p class="uk-text-large uk-margin-remove">Be like Justin!</p>
                    <p>The idea is to make an app to help local officials effectively manage the medical resources in their area. This helps with keeping hospitals/camps stay in sync with the local officials. This lack of synchronization can be a serious problem. This application will increase bureaucratic efficiency and provide a centralized interface to the officials for a more effective response in both gathering information and taking action.</p>
                </div>
            </div>        
        </div>
    </div>
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-1-3@m uk-text-justify" uk-grid>
                <div>
                    <span class="uk-icon uk-margin-small-right red uk-text-center" uk-icon="icon: lifesaver; ratio: 5"></span>
                    <p>The idea is to make an app to help local officials effectively manage the medical resources.</p>
                </div>
                <div>
                    <span class="uk-icon uk-margin-small-right red uk-text-center" uk-icon="icon: bolt; ratio: 5"></span>
                    <p>The idea is to make an app to help local officials effectively manage the medical resources.</p>
                </div>
                <div>
                    <span class="uk-icon uk-margin-small-right red uk-text-center" uk-icon="icon: list; ratio: 5"></span>
                    <p>The idea is to make an app to help local officials effectively manage the medical resources.</p>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock %}